@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Tilt+Neon&display=swap');

$main-font: 'Oswald',
sans-serif;
$second-font: 'Lobster',
sans-serif;
$third-font: 'Tilt Neon',
sans-serif;

.container {
    max-width: 1280px;
    margin: 0 auto;
}

//header

.header1 {
    background: #2c2f33;
    color: #fff;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;


    h1 {
        font-size: 68px;
        font-family: $main-font;

        width: 1000px;
        margin: 0 auto;

    }

}

.header {
    background: #2c2f33;
    color: #fff;

    min-height: 100vh;
}

// navbar

.navbar {
    display: flex;
    justify-content: space-between;


    background: #23272a;

    height: 60px;
}

.navbar-wrapper {
    width: 1280px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-search {

    width: 120px;
    margin: 0 auto;

    margin-top: 20px;

    .search {

        background: #23272a;
        border-radius: 15px;

    }
}

.nav-logo {
    span {
        color: #00ddff;
    }

    justify-content: center;
    align-items: center;

    font-family: $third-font;

    border-radius: 15px;
    color: white;

    height: 35px;
    width: 120px;
}

.search {
    text-align: left;
    padding-left: 15px;

    background: #2c2f33;
    color: white;

    width: 200px;
}

.search:focus {
    outline: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: $third-font;

    border-radius: 15px;
    color: white;

    height: 35px;
    width: 400px;
}


.link {
    color: white;

    transition: 0.3s;
}

.link:hover {
    border-bottom: 1px solid #7289da;
    padding-bottom: 5px;
}

// ==-=-=-=-=-=-=============================

.button-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 20px;

    .btn {
        width: 120px;
        padding: 5px;
        font-size: 26px;

        transition: 0.4s;
    }

    .btn:hover {
        border-bottom: 1px solid #7289da;
        padding-bottom: 5px;
    }
}

.contact {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
}

.text {
    height: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    input {
        width: 600px;

        text-align: left;

        background: #23272a;
        color: #fff;
        border: 3px solid#23272a;
        border-radius: 5px;
    }

    .ad4 {
        height: 200px;
    }
}

.buttons {
    .btn {
        width: 110px;
        padding: 5px;

        transition: 0.4s;
    }

    .btn:hover {
        border-bottom: 1px solid #7289da;
        padding-bottom: 5px;
    }
}